.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after {
  border-bottom: 1px solid #21bf96 !important;
}

/* .ant-menu-horizontal > .ant-menu-item-selected img, */
.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item-active a,
.ant-menu-horizontal > img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item-active a {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}
